* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding doesn't affect element size */
}

body {
  font-family: "Outfit", sans-serif;
  padding: 10% 40%;
  background-color: hsl(217, 54%, 11%);
  color: white;
}

.main {
  padding: 30px;
  border-radius: 20px;
  background-color: hsl(216, 50%, 16%);
  max-width: 450px; /* Max-width to handle smaller screen sizes */
  margin: auto;
}

#equi {
  width: 100%; /* Make the image responsive */
  border-radius: 20px;
}

h1 {
  margin: 20px 5px;
  font-weight: 500;
  font-size: 28px; /* Added font size for consistency */
}

p,
h2 {
  margin: 10px 0;
  font-weight: 200;
  font-size: 18px; /* Adjusted font size for better readability */
  color: hsl(215, 51%, 70%);
}

div {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  justify-content: space-between;
  gap: 1em;
}

.price div {
  display: flex;
  align-items: center;
  gap: 0.5em; /* Space between icon and text */
}

hr {
  border: 0.5px solid hsl(215, 51%, 70%);
}

.footer {
  justify-content: flex-start; /* More precise than 'start' */
  gap: 1em;
}

.footer img {
  width: 50px;
  height: 50px;
  border: solid 2px white;
  border-radius: 50%;
}

span {
  font-weight: 700;
  color: white;
}

#price {
  color: hsl(178, 100%, 50%);
  font-weight: 700;
}

@media (max-width: 768px) {
  body {
    padding: 10%;
  }
  .main {
    padding: 20px;
    width: 100%; /* Adjust the width for smaller screens */
  }
}
